NEXTAUTH_URL=
NEXTAUTH_SECRET=
MONGODB_URI=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
# https://api-m.paypal.com for live payments
PAYPAL_API_URL=https://api-m.sandbox.paypal.com
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_API_KEY=
CLOUDINARY_SECRET=
CLOUDINARY_URL=